<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <title></title>
    <!-- OLD BOOTSTRAP -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="./CSS/main.css">
    <!-- Bootstrap4 JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="./JS/Player.js"></script>
    <script src="./JS/vue.js"></script>
    <script src="./JS/game.js"></script>
    <script src="./JS/Ship.js"></script>
    <script src="./JS/Clock.js"></script>
    <script src="./JS/MiningLocations/Well.js"></script>
    <script src="./JS/MiningLocations/Farm.js"></script>
    <script src="./JS/MiningLocations/Shelter.js"></script>
    <script src="./JS/MiningLocations/Mine.js"></script>
    <script src="./JS/MiningLocations/Lab.js"></script>
    <script src="./JS/Maps/PlayerAnimation.js"></script>
    <script src="./JS/Maps/Coordinate.js"></script>
    <script src="./JS/Maps/Map.js"></script>
    <script src="./JS/Maps/DetermineShortestPath.js"></script>
    <script src="./JS/Maps/Tile.js"></script>
    <script src="./JS/Tools/PickAxe.js"></script>
    <script src="./JS/Tools/Axe.js"></script>
    <script src="./JS/Tools/Shovel.js"></script>
    <script src="./JS/Tools/Spear.js"></script>
    <script src="./JS/RoverParts/Engine.js"></script>
    <script src="./JS/RoverParts/Frame.js"></script>
    <script src="./JS/RoverParts/Wheel.js"></script>
    <script src="./JS/Utils.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<div id="app">
    <nav class="navbar navbar-inverse navbar-static-top" style="margin-bottom: 0px;">
        <div class="container-fluid">


            <div class="navbar-header">
                <!--					<button type="button" class="navbar-toggle collapsed" @click="dropMenuIsOpen=!dropMenuIsOpen" data-toggle="collapse" data-target="#myNavbar">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                      </button>-->
                <a class="navbar-brand" style="color: white;" href="http://www.tlindsay.com">tlindsay.com</a>
            </div>
            <div class="collapse navbar-collapse" :class="{show: dropMenuIsOpen}" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li id="login" class=""><a id="loginAnchor" href="login.html"><span
                            class="glyphicon glyphicon-user"></span><span id="loginText"> Login</span></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Main Row of regular game play-->
    <div class="container-fluid">


        <!--  Dereks rad start screen -->
        <div v-show="playerPick" class="gameTitleContainer row text-center align-items-center justify-content-center">
            <div class="innerTitleContainer col-md-6">
                <h1 class="gameTitleHeader">Mr. Martian</h1>
                <hr style="background-color: #2a2a2a; border-top: 3px solid rgba(0,0,0,.1);">
                <h2 style="color: white;">How many players?</h2>
                <button @click="pickPlayers(1)" class="button">1</button>
                <button @click="pickPlayers(2)" class="button">2</button>
                <button @click="pickPlayers(3)" class="button">3</button>
                <button @click="pickPlayers(4)" class="button">4</button>
            </div>
        </div>


        <div class="row" style="border-bottom: 2px solid gray;">
            <!-- Left Time Column -->
            <div class="col-md-2 inventoryColumn text-center" style="padding: 0px;">
                <h2 style="color: white; padding: 5px;"><span class="itemStats">Sol: <span style="color: #ca400b;">{{ sol }}</span></span>
                </h2>
                <hr>
                <div class="col-sm-12" style="margin-top: 15px; color: #ee4a00;">
                    <span class="itemStats">Time Left in Sol</span>
                </div>
                <clockpanel :time="currentPlayer.clock.usedTime">
                </clockpanel>
                <button class="btn btn-dark" style="margin-top: 15px;" @click="openTurnResultsModal">Mission Progress</button>
            </div>
            <!-- Middle Column Containing Main Screens-->
            <div class="col-md-8 mainColumn">
                <div class="row eventRow">


                    <!-- Build Selection Modal -->
                    <div class="modal fade" id="buildOptionsModal" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content"
                                 style="max-width: 700px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 10px 20px 0 rgba(5, 5, 5, 0.19); background-color: rgba(50, 50, 50, 0.86); border: solid 1px gray;">
                                <div class="modal-body" style="padding: 0px;">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col buildOptionCell"
                                                 v-on:mouseover="updateDescription('shelter')"
                                                 @click="constructBuilding('shelter')">
                                                <img class="buildOptionImage" src="./IMG/places/shelter1.png">
                                            </div>
                                            <div class="col buildOptionCell" v-on:mouseover="updateDescription('well')"
                                                 @click="constructBuilding('well')">
                                                <img class="buildOptionImage" src="./IMG/places/well1.png">
                                            </div>
                                            <div class="col buildOptionCell" v-on:mouseover="updateDescription('farm')"
                                                 @click="constructBuilding('farm')">
                                                <img class="buildOptionImage" src="./IMG/places/farm1.png">
                                            </div>
                                            <div class="col buildOptionCell" v-on:mouseover="updateDescription('mine')"
                                                 @click="constructBuilding('mine')">
                                                <img class="buildOptionImage" src="./IMG/places/mine1.png">
                                            </div>
                                            <div class="col buildOptionCell" v-on:mouseover="updateDescription('lab')"
                                                 @click="constructBuilding('lab')">
                                                <img class="buildOptionImage" src="./IMG/places/lab1.png">
                                            </div>
                                        </div>
                                        <div class="row" style="min-height: 120px;">
                                            <div class="col-12">
                                                <h3 class="float-left" style="color: #bcbcbc;"> {{ hoveredBuildingName
                                                    }} </h3>
                                                <span class="float-right" style="color: orange; padding: 7px;">Build Time: {{ hoveredBuildingBuildTime }} </span>
                                            </div>
                                            <div class="col-12">
                                                <span class="buildingOptionDescription"> {{ hoveredBuildingDescription }} </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer" style="border-top: solid #1d1c1c 2px;">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Place Action Modal -->
                    <div class="modal fade" id="placeActionsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content" style="max-width: 700px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 10px 20px 0 rgba(5, 5, 5, 0.19); background-color: rgba(50, 50, 50, 0.86); border: solid 1px gray;">
                                <div class="modal-header" style="border-bottom: solid #a0421e 4px;">
                                    <h3 class="modal-title" style="color: white;" id="exampleModalLongTitle">{{ currentBuilding.name }}</h3>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="container-fluid">
                                        <div class="row align-items-center">
                                            <div class="col-3">
                                                <img v-bind:src="currentBuilding.img">
                                            </div>
                                            <div class="col-9">
                                                <div class="row">
                                                    <table style="margin-left: 25px;">
                                                        <tr v-show="currentBuilding.totalResourceCount">
                                                            <td style="min-width: 115px;">
                                                                <span class="itemHeader">Resources: </span>
                                                            </td>
                                                            <td>
                                                                <span class="itemValue">{{ currentBuilding.totalResourceCount - currentBuilding.minedResourceCount }}</span>
                                                            </td>
                                                        </tr>
                                                        <tr v-show="currentBuilding.resourcePerHour">
                                                            <td>
                                                                <span class="itemHeader">Harvest Rate: </span>
                                                            </td>
                                                            <td>
                                                                <span class="itemValue">{{ currentBuilding.resourcePerHour }}</span>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer" style="border-top: solid #1d1c1c 2px;">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button v-show="currentBuilding.mineResource" type="button" class="btn btn-info" @click="currentBuilding.mineResource();">
                                        Harvest
                                    </button>
                                    <button v-show="currentBuilding.getCanUpgrade()" type="button" class="btn btn-primary" @click="currentBuilding.upgrade();">
                                        Upgrade
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Construction Modal -->
                    <div class="modal fade" id="constructionModal" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content"
                                 style="max-width: 700px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 10px 20px 0 rgba(5, 5, 5, 0.19); background-color: rgba(50, 50, 50, 0.86); border: solid 1px gray;">
                                <div class="modal-header" style="border-bottom: solid #a0421e 4px;">
                                    <h3 class="modal-title" style="color: white;" id="exampleModalLongTitle">{{
                                        currentBuilding.name }}</h3>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="container-fluid">
                                        <div class="row align-items-center">
                                            <div class="col-3">
                                                <img v-bind:src="currentBuilding.img">
                                            </div>
                                            <div class="col-9">
                                                <div class="row justify-content-center">
                                                    <div class="col-md-auto">
                                                        <span v-for="filled in currentBuilding.currentHoursConstructed"
                                                              class="constructionCellFilled"></span>
                                                        <span v-for="empty in currentBuilding.totalHoursToConstruct - currentBuilding.currentHoursConstructed"
                                                              class="constructionCellEmpty"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer" style="border-top: solid #1d1c1c 2px;">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" @click="currentBuilding.construct();">
                                        Build
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Turn results modal -->
                    <div class="modal fade" id="turnResultsModal" tabindex="-1">
                        <div class="modal-dialog modal-dialog-centered modal-lg">
                            <div class="modal-content"
                                 style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 10px 20px 0 rgba(5, 5, 5, 0.19); background-color: rgba(50, 50, 50, 0.86); border: solid 1px gray;">
                                <div class="modal-header" style="border-bottom: solid #a0421e 4px;">
                                    <h3 class="modal-title" style="color: white;">
                                        <span>{{ currentPlayer.name }}</span>
                                        <span style="color: orangered; font-weight: bolder;"> - </span>
                                        <span>Mission Progress</span>
                                    </h3>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="container-fluid">
                                        <div class="row align-items-center">
                                            <div class="col-12">
                                                <span id="turnResultSols" style="color: orangered; font-weight: bolder; font-size: 20px;">Sol {{ sol }} </span>
                                            </div>
                                            <div class="col-12" style="padding-bottom: 15px;">
                                                <span id="turnResultDesc" style="color: #cdcccc;">
                                                    To do... insert some list of items that happened to the player, explaining losses of health,
                                                    or other random events that occurred to them that explain changes to inventory, or other stats.
                                                    <ul>
                                                        <li>Due to inclement weather, your shelter caved in and broke your leg.
                                                            <span class="badNews">-27 Health</span>
                                                        </li>
                                                        <li>You forgot to place your extra potato in a tuppeware container.
                                                            <span class="badNews">-4 Food</span>
                                                        </li>
                                                        <li>You're not eating well, and got scurvy. You should increase your rations.
                                                            <span class="badNews">-12 Health</span>
                                                        </li>
                                                    </ul>
                                                </span>
                                            </div>
                                            <div class="col-12 menuItemSeparated" style="background-color: #5c545130; padding-left: 0px;">
                                                <div class="col-12">
                                                    <h5 style="color: white;">Used resources</h5>
                                                </div>
                                                <div class="col-12" style="padding-bottom: 15px; padding-left: 38px;">
                                                    <span class="itemHeader">Water: </span>
                                                    <span class="itemValue">14</span>
                                                    <br>
                                                    <span class="itemHeader">Food: </span>
                                                    <span class="itemValue">3</span>
                                                </div>
                                            </div>
                                            <div class="col-12 menuItemSeparated">
                                                <h5 style="color: white;">Rations</h5>
                                            </div>
                                            <div class="col-12" style="padding-left: 38px; padding-bottom: 15px;">
                                                <table>
                                                    <tr>
                                                        <td class="itemHeader">Daily Food:</td>
                                                        <td class="itemValue text-center" style="width: 40px; "> {{ currentPlayer.foodRation }} </td>
                                                        <td style="padding-left: 5px; width: 300px;"><input type="range" v-model="currentPlayer.foodRation" min="0" v-bind:max="currentPlayer.food" class="slider" id="foodRationSlider"></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="itemHeader" style="padding-top: 5px;">Daily Water:</td>
                                                        <td class="itemValue text-center" style="width: 40px; padding-top: 5px;"> {{ currentPlayer.waterRation }} </td>
                                                        <td style="padding-left: 5px; width: 300px; padding-top: 5px;"><input type="range" v-model="currentPlayer.waterRation" min="0" v-bind:max="currentPlayer.water" class="slider" id="waterRationSlider"></td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="col-12 menuItemSeparated" style="background-color: #68210530; padding-bottom: 15px; padding-left: 0px;">
                                                <div class="col-12">
                                                    <h5 style="color: white;">Scientific Research Progress</h5>
                                                </div>
                                                <div class="col-12" style="color: #d3d2d2;">
                                                    Still not quite sure how we want to do this part... But we have a lab, so I figured we could either give them points for research they do, or make it required, show progress on their rover, etc. TODO
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer" style="border-top: solid #1d1c1c 2px;">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Main Game Tiles -->
                    <table class="gameTileTable">
                        <tbody id="tileMapTable">
                        <tr>
                            <td id="0_0" class="gameTile clickable" @click="handleTileClickEvent">
                                <img id="0_0" class="tileIMG" src="./IMG/marssurface/marsTLcorner.png">
                            </td>
                            <td id="0_1" class="gameTile clickable" @click="handleTileClickEvent">
                                <img id="0_1" class="tileIMG" src="./IMG/marssurface/marshorizontal.png">
                            </td>
                            <td id="0_2" class="gameTile clickable" @click="handleTileClickEvent">
                                <img id="0_2" class="tileIMG" src="./IMG/marssurface/marshorizontal.png">
                            </td>
                            <td id="0_3" class="gameTile clickable" @click="handleTileClickEvent">
                                <img id="0_3" class="tileIMG" src="./IMG/marssurface/marstopintersect.png">
                            </td>
                            <td id="0_4" class="gameTile clickable" @click="handleTileClickEvent">
                                <img id="0_4" class="tileIMG" src="./IMG/marssurface/marshorizontal.png">
                            </td>
                            <td id="0_5" class="gameTile clickable" @click="handleTileClickEvent">
                                <img id="0_5" class="tileIMG" src="./IMG/marssurface/marshorizontal.png">
                            </td>
                            <td id="0_6" class="gameTile clickable" @click="handleTileClickEvent">
                                <img id="0_6" class="tileIMG" src="./IMG/marssurface/marshorizontal.png">
                            </td>
                            <td id="0_7" class="gameTile clickable" @click="handleTileClickEvent">
                                <img id="0_7" class="tileIMG" src="./IMG/marssurface/marsTRcorner.png">
                            </td>
                        </tr>
                        <tr>
                            <td id="1_0" class="gameTile clickable" @click="handleTileClickEvent">
                                <img id="1_0" class="tileIMG" src="./IMG/marssurface/marsroad.png">
                            </td>
                            <td id="1_1" class="gameTile surface" @click="handleTileClickEvent">
                                <img id="1_1" class="tileIMG" src="./IMG/marssurface/marssurface.png">
                            </td>
                            <td id="1_2" class="gameTile surface" @click="handleTileClickEvent">
                                <img id="1_2" class="tileIMG" src="./IMG/marssurface/marssurface.png">
                            </td>
                            <td id="1_3" class="gameTile clickable" @click="handleTileClickEvent">
                                <img id="1_3" class="tileIMG" src="./IMG/marssurface/marsroad.png">
                            </td>
                            <td id="1_4" class="gameTile surface" @click="handleTileClickEvent">
                                <img id="1_4" class="tileIMG" src="./IMG/marssurface/marssurface.png">
                            </td>
                            <td id="1_5" class="gameTile surface" @click="handleTileClickEvent">
                                <img id="1_5" class="tileIMG" src="./IMG/marssurface/marssurface.png">
                            </td>
                            <td id="1_6" class="gameTile surface" @click="handleTileClickEvent">
                                <img id="1_6" class="tileIMG" src="./IMG/marssurface/marssurface.png">
                            </td>
                            <td id="1_7" class="gameTile clickable" @click="handleTileClickEvent">
                                <img id="1_7" class="tileIMG" src="./IMG/marssurface/marsroad.png">
                            </td>
                        </tr>
                        <tr>
                            <td id="2_0" class="gameTile clickable" @click="handleTileClickEvent">
                                <img id="2_0" class="tileIMG" src="./IMG/marssurface/marsroad.png">
                            </td>
                            <td id="2_1" class="gameTile surface" @click="handleTileClickEvent">
                                <img id="2_1" class="tileIMG" src="./IMG/marssurface/marssurface.png">
                            </td>
                            <td id="2_2" class="gameTile surface" @click="handleTileClickEvent">
                                <img id="2_2" class="tileIMG" src="./IMG/marssurface/marssurface.png">
                            </td>
                            <td id="2_3" class="gameTile clickable" @click="handleTileClickEvent">
                                <img id="2_3" class="tileIMG" src="./IMG/marssurface/marsroad.png">
                            </td>
                            <td id="2_4" class="gameTile surface" @click="handleTileClickEvent">
                                <img id="2_4" class="tileIMG" src="./IMG/marssurface/marssurface.png">
                            </td>
                            <td id="2_5" class="gameTile surface" @click="handleTileClickEvent">
                                <img id="2_5" class="tileIMG" src="./IMG/marssurface/marssurface.png">
                            </td>
                            <td id="2_6" class="gameTile surface" @click="handleTileClickEvent">
                                <img id="2_6" class="tileIMG" src="./IMG/marssurface/marssurface.png">
                            </td>
                            <td id="2_7" class="gameTile clickable" @click="handleTileClickEvent">
                                <img id="2_7" class="tileIMG" src="./IMG/marssurface/marsroad.png">
                            </td>
                        </tr>
                        <tr>
                            <td id="3_0" class="gameTile clickable" @click="handleTileClickEvent">
                                <img id="3_0" class="tileIMG" src="./IMG/marssurface/marsroad.png">
                            </td>
                            <td id="3_1" class="gameTile surface" @click="handleTileClickEvent">
                                <img id="3_1" class="tileIMG" src="./IMG/marssurface/marssurface.png">
                            </td>
                            <td id="3_2" class="gameTile surface" @click="handleTileClickEvent">
                                <img id="3_2" class="tileIMG" src="./IMG/marssurface/marssurface.png">
                            </td>
                            <td id="3_3" class="gameTile clickable" @click="handleTileClickEvent">
                                <img id="3_3" class="tileIMG" src="./IMG/marssurface/marsleftintersect.png">
                            </td>
                            <td id="3_4" class="gameTile clickable" @click="handleTileClickEvent">
                                <img id="3_4" class="tileIMG" src="./IMG/marssurface/marstopintersect.png">
                            </td>
                            <td id="3_5" class="gameTile clickable" @click="handleTileClickEvent">
                                <img id="3_5" class="tileIMG" src="./IMG/marssurface/marshorizontal.png">
                            </td>
                            <td id="3_6" class="gameTile clickable" @click="handleTileClickEvent">
                                <img id="3_6" class="tileIMG" src="./IMG/marssurface/marshorizontal.png">
                            </td>
                            <td id="3_7" class="gameTile clickable" @click="handleTileClickEvent">
                                <img id="3_7" class="tileIMG" src="./IMG/marssurface/marsrightintersect.png">
                            </td>
                        </tr>
                        <tr>
                            <td id="4_0" class="gameTile clickable" @click="handleTileClickEvent">
                                <img id="4_0" class="tileIMG" src="./IMG/marssurface/marsleftintersect.png">
                            </td>
                            <td id="4_1" class="gameTile clickable" @click="handleTileClickEvent">
                                <img id="4_1" class="tileIMG" src="./IMG/marssurface/marshorizontal.png">
                            </td>
                            <td id="4_2" class="gameTile clickable" @click="handleTileClickEvent">
                                <img id="4_2" class="tileIMG" src="./IMG/marssurface/marshorizontal.png">
                            </td>
                            <td id="4_3" class="gameTile clickable" @click="handleTileClickEvent">
                                <img id="4_3" class="tileIMG" src="./IMG/marssurface/marsbottomintersect.png">
                            </td>
                            <td id="4_4" class="gameTile clickable" @click="handleTileClickEvent">
                                <img id="4_4" class="tileIMG" src="./IMG/marssurface/marsrightintersect.png">
                            </td>
                            <td id="4_5" class="gameTile surface" @click="handleTileClickEvent">
                                <img id="4_5" class="tileIMG" src="./IMG/marssurface/marssurface.png">
                            </td>
                            <td id="4_6" class="gameTile surface" @click="handleTileClickEvent">
                                <img id="4_6" class="tileIMG" src="./IMG/marssurface/marssurface.png">
                            </td>
                            <td id="4_7" class="gameTile clickable" @click="handleTileClickEvent">
                                <img id="4_7" class="tileIMG" src="./IMG/marssurface/marsroad.png">
                            </td>
                        </tr>
                        <tr>
                            <td id="5_0" class="gameTile clickable" @click="handleTileClickEvent">
                                <img id="5_0" class="tileIMG" src="./IMG/marssurface/marsroad.png">
                            </td>
                            <td id="5_1" class="gameTile surface" @click="handleTileClickEvent">
                                <img id="5_1" class="tileIMG" src="./IMG/marssurface/marssurface.png">
                            </td>
                            <td id="5_2" class="gameTile surface" @click="handleTileClickEvent">
                                <img id="5_2" class="tileIMG" src="./IMG/marssurface/marssurface.png">
                            </td>
                            <td id="5_3" class="gameTile surface" @click="handleTileClickEvent">
                                <img id="5_3" class="tileIMG" src="./IMG/marssurface/marssurface.png">
                            </td>
                            <td id="5_4" class="gameTile clickable" @click="handleTileClickEvent">
                                <img class="tileIMG" src="./IMG/marssurface/marsroad.png">
                            </td>
                            <td id="5_5" class="gameTile surface" @click="handleTileClickEvent">
                                <img id="5_5" class="tileIMG" src="./IMG/marssurface/marssurface.png">
                            </td>
                            <td id="5_6" class="gameTile surface" @click="handleTileClickEvent">
                                <img id="5_6" class="tileIMG" src="./IMG/marssurface/marssurface.png">
                            </td>
                            <td id="5_7" class="gameTile clickable" @click="handleTileClickEvent">
                                <img id="5_7" class="tileIMG" src="./IMG/marssurface/marsroad.png">
                            </td>
                        </tr>
                        <tr>
                            <td id="6_0" class="gameTile clickable" @click="handleTileClickEvent">
                                <img id="6_0" class="tileIMG" src="./IMG/marssurface/marsroad.png">
                            </td>
                            <td id="6_1" class="gameTile surface" @click="handleTileClickEvent">
                                <img id="6_1" class="tileIMG" src="./IMG/marssurface/marssurface.png">
                            </td>
                            <td id="6_2" class="gameTile surface" @click="handleTileClickEvent">
                                <img class="tileIMG" src="./IMG/marssurface/marssurface.png">
                            </td>
                            <td id="6_3" class="gameTile surface" @click="handleTileClickEvent">
                                <img id="6_3" class="tileIMG" src="./IMG/marssurface/marssurface.png">
                            </td>
                            <td id="6_4" class="gameTile clickable" @click="handleTileClickEvent">
                                <img id="6_4" class="tileIMG" src="./IMG/marssurface/marsroad.png">
                            </td>
                            <td id="6_5" class="gameTile surface" @click="handleTileClickEvent">
                                <img id="6_5" class="tileIMG" src="./IMG/marssurface/marssurface.png">
                            </td>
                            <td id="6_6" class="gameTile surface" @click="handleTileClickEvent">
                                <img id="6_6" class="tileIMG" src="./IMG/marssurface/marssurface.png">
                            </td>
                            <td id="6_7" class="gameTile clickable" @click="handleTileClickEvent">
                                <img id="6_7" class="tileIMG" src="./IMG/marssurface/marsroad.png">
                            </td>
                        </tr>
                        <tr>
                            <td id="7_0" class="gameTile clickable" @click="handleTileClickEvent">
                                <img id="7_0" class="tileIMG" src="./IMG/marssurface/marsBLcorner.png">
                            </td>
                            <td id="7_1" class="gameTile clickable" @click="handleTileClickEvent">
                                <img id="7_1" class="tileIMG" src="./IMG/marssurface/marshorizontal.png">
                            </td>
                            <td id="7_2" class="gameTile clickable" @click="handleTileClickEvent">
                                <img id="7_2" class="tileIMG" src="./IMG/marssurface/marshorizontal.png">
                            </td>
                            <td id="7_3" class="gameTile clickable" @click="handleTileClickEvent">
                                <img id="7_3" class="tileIMG" src="./IMG/marssurface/marshorizontal.png">
                            </td>
                            <td id="7_4" class="gameTile clickable" @click="handleTileClickEvent">
                                <img id="7_4" class="tileIMG" src="./IMG/marssurface/marsbottomintersect.png">
                            </td>
                            <td id="7_5" class="gameTile clickable" @click="handleTileClickEvent">
                                <img id="7_5" class="tileIMG" src="./IMG/marssurface/marshorizontal.png">
                            </td>
                            <td id="7_6" class="gameTile clickable" @click="handleTileClickEvent">
                                <img id="7_6" class="tileIMG" src="./IMG/marssurface/marshorizontal.png">
                            </td>
                            <td id="7_7" class="gameTile clickable" @click="handleTileClickEvent">
                                <img id="7_7" class="tileIMG" src="./IMG/marssurface/marsBRcorner.png">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Right Details Column -->
            <div class="col-md-2 inventoryColumn text-center" style="padding: 0px;">
                <h2 style="color: white; padding: 5px;"><span class="itemStats">{{ currentPlayer.name }}</span></h2>
                <img v-bind:src="'./IMG/spaceman/' + currentPlayer.imagePath">
                <div class="col-sm-12" style="margin-top: 15px; color: #ee4a00;">
                    <b class="itemHeader">Health: </b><span class="itemStats">{{ currentPlayer.health }}</span>
                </div>
                <div class="col-sm-12" style="margin-top: 15px; color: #ee4a00;">
                    <b class="itemHeader">Morale: </b><span class="itemStats">{{ currentPlayer.morale }}</span>
                </div>
                <div class="col-sm-12" style="margin-top: 15px; color: #ee4a00;">
                    <b class="itemHeader">Food: </b><span class="itemStats">{{ currentPlayer.food }}</span>
                </div>
                <div class="col-sm-12" style="margin-top: 15px; color: #ee4a00;">
                    <b class="itemHeader">Water: </b><span class="itemStats">{{ currentPlayer.water }}</span>
                </div>
                <div class="col-sm-12" style="margin-top: 15px; color: #ee4a00;">
                    <hr>
                    <h4 style="color: white;">Inventory:</h4><span
                        class="itemStats">{{ currentPlayer.suppliesList }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>

</html>
