body {
    background-color: #202020;
    color: black;
    z-index : 1;
    /* to make text unselectable */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-right: 0 !important; /* This is to fix a weird issue with the bootstrap modal that adds padding-right everytime you open it */
}

td {
    padding: 0px;
}

p {
    margin: 0;
}

.inventoryColumn {
    height: 100%;
    border: 2px solid gray;
    border-right: none;
    border-left: none;
    border-bottom: none;
    overflow-y: auto;
    overflow-x: hidden;
    /*height: 100vh;*/
}

.eventRow {
    min-height: 600px;
    border: 2px solid gray;
    border-bottom: none;
}

.eventContent {
    margin: 5px;
}

.mainTile {
    border: 2px solid darkgray;
    border-radius: 4px;
    padding: 5px;
    background-color: #3b3b3b;
}

.gameTile {
    border: 2px dotted #823619;
    background-color: #0e0e0e;
    width: 75px;
    height: 75px;
    position: relative;
    top: 0px;
    left: 0px;
}

.clickable:hover {
    border: 2px solid #ffa10a;
    cursor: pointer;
}

.gameTileTable {
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.tileIMG {
    width: 100%;
    height: 100%;
    position: relative;
}

.mainPlayerIMG {
    background-position: 0px 0px;
    height: 100px;
    width: 100px;
    margin: auto;
}

.playerIMG {
    -webkit-transform: scale(0.6); /* Scaling to 60% of original image for grid */
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    transform: scale(0.6);
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 50;
    top: -14px;
    left: -12px;
}

.shipIMG
{
    width: 60px;
    height: 60px;
    position: absolute;
    z-index: 50;
    top: 5px;
    left: 10px;
}

.itemStats {
    color: #ee4a00;
}

.itemHeader {
    font-weight: bolder;
    color: #c5c4c4;
}

.itemValue {
    font-weight: bolder;
    color: #daa21b;
}

.gameTitleHeader {
    font-family:impact; 
    font-size:80px; 
    color:#F66715;
}

.button {
    background-color: #141514; /* black */
    color: #22f70b;
    padding: 20px;
    text-align: center;
    font-size: 48px;
    font: impact;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px
}

.gameTitleContainer {
    position: absolute; 
    background-color: #2d2c2c; 
    height: 100%; 
    width: 100%; 
    z-index:51;
}

.buildOptionsContainer {
    position: absolute; 
    left: 50%; 
    top: 39%;
    z-index: 52;
}

.buildOptions {
    position: relative; 
    left: -50%;
    /*background: linear-gradient(to right, rgba(33,32,32,0.4), rgba(32,32,32,.1));*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 10px 20px 0 rgba(5, 5, 5, 0.19);
}

.buildingConstructionContainer {
    position: absolute; 
    left: 50%; 
    top: 35%; 
    z-index: 52;
}

.buildingConstruction {
    position: relative; 
    left: -50%;
    /*background: linear-gradient(to right, rgba(33,32,32,0.4), rgba(32,32,32,.1));*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 10px 20px 0 rgba(5, 5, 5, 0.19);
    background-color: rgba(50, 50, 50, 0.86);
    border: solid 1px gray;
    height: 150px;
}

.buildOptionCell {
    /*height: 100px;
    width: 100px;*/
    border: solid 1px gray;
    background-color: rgba(50, 50, 50, 0.86);
}

.buildOptionCell:hover {
    background-color: rgba(60, 60, 60, 0.78);
}

.buildOptionImage {
    width: 65px;
}

.buildingOptionDescription {
    color: #9e9e9e;
}

.buildDescriptionPanel {
    position: relative; 
    left: -50%; 
    background-color: rgba(60, 60, 60, 0.78);
    color: #bcbcbc;
    border: solid 1px #535353;
    padding: 8px;
    width: 506px;
}

.closeOptions {
    position: relative; 
    left: -50%; 
    color: rgb(206, 206, 206);
}

.closeOptions:hover {
    color: white;
}

.constructBtn {
    margin-top: 25px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.constructionCellEmpty {
    border-radius: 15px;
    background-color: #232121;
    margin: 2px;
    padding: 3px;
    padding-top: 15px;
}

.constructionCellFilled {
   border-radius: 15px;
    background-color: gray;
    margin: 2px;
    padding: 3px;
    padding-top: 15px;
}

.genericIMG {
    position: absolute;
    z-index: 50;
    width: 70px;
    top: 0px;
    left: 0px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    border-radius: 10px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
    border: solid #d3d3d3 2px;
}

.slider.bad::-webkit-slider-thumb {
    background: #af3c05;
}

.slider.low::-webkit-slider-thumb {
    background: #af6602;
}

.slider.meh::-webkit-slider-thumb {
    background: #9aaf00;
}

.slider.good::-webkit-slider-thumb {
    background: #3eb700;
}

.slider.great::-webkit-slider-thumb {
    background: #007813;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
    border: solid #d3d3d3 2px;
}

.menuItemSeparated {
    border-top: solid #595959ba 1px;
    padding-top: 15px;
}

.badNews {
    font-weight: bold;
    color: #f82222;
}

.goodNews {
    font-weight: bold;
    color: #2ec62c;
}

.badNewsMorale {
    font-weight: bold;
    color: #7c49bf;
}

.goodNewsMorale {
    font-weight: bold;
    color: #c5c32d;
}

.tooltip-inner {
    background-color: #252525;
}
.tooltip.bs-tooltip-right .arrow:before {
    border-right-color: #252525 !important;
}
.tooltip.bs-tooltip-left .arrow:before {
    border-left-color: #252525 !important;
}
.tooltip.bs-tooltip-bottom .arrow:before {
    border-bottom-color: #ca7b05 !important;
}
.tooltip.bs-tooltip-top .arrow:before {
    border-top-color: #252525 !important;
}

.disabled {
    cursor: not-allowed;
}

.btn.disabled, .btn:disabled {
    opacity: .3;
}

.labItemRow {
    min-width: 330px;
    color: #b4b4b4;
    background-color: #ffddbf08;
    border-left: 1px solid gray;
}

.labItemIMG {
    height: 50px;
}

.labItem {
    margin: auto;
}

.inventoryItem {
    padding: 5px;
    cursor: pointer;
}

.inventoryItem:hover {
    background-color: #313131;
}

hr {
    background-color: #2a2a2a; 
    border-top: 2px solid rgba(155, 49, 8, 0.22);
}